Repository Azure/azure-functions-host, changes with the owners that CODEOWNERS names for each.
All owners: @azure/azure-functions-core, @vrdmr, @gavin-aguiar, @YunchuWang, @fabiocav, @brettsam, @mathewc, @pragnagopa, @eliaslopezgt, @VpOfEngineering

Do not send user generated logs to AI and quick pulse service if the worker AI agent is enabled.
  src/WebJobs.Script/ScriptHostBuilderExtensions.cs
Owners: @azure/azure-functions-core

Added release notes.
  release_notes.md
Owners: @azure/azure-functions-core

update node worker version to 3.5.2 (#8913)
  release_notes.md
  src/WebJobs.Script/WebJobs.Script.csproj
  test/WebJobs.Script.Tests.Integration/WebJobs.Script.Tests.Integration.csproj
Owners: @azure/azure-functions-core

Track ApplicationInsights ingestion service response by subscribing t… (#8828)
  release_notes.md
  src/WebJobs.Script/Config/TransmissionStatusHandler.cs
  src/WebJobs.Script/ScriptHostBuilderExtensions.cs
  test/WebJobs.Script.Tests/Configuration/TransmissionStatusHandlerTest.cs
  test/WebJobs.Script.Tests/Diagnostics/DiagnosticListenerServiceTests.cs
Owners: @azure/azure-functions-core

catching exceptions due to race with worker process exit
  src/WebJobs.Script/Workers/ProcessManagement/WorkerProcess.cs
Owners: @azure/azure-functions-core

Update Java Worker Version to 2.8.0
  release_notes.md
  src/WebJobs.Script/WebJobs.Script.csproj
  test/WebJobs.Script.Tests.Integration/WebJobs.Script.Tests.Integration.csproj
Owners: @azure/azure-functions-core

pr comments
  src/WebJobs.Script/Workers/ProcessManagement/WorkerProcess.cs
Owners: @azure/azure-functions-core

Update Java Worker Version to 2.8.0
  release_notes.md
  src/WebJobs.Script/WebJobs.Script.csproj
  test/WebJobs.Script.Tests.Integration/WebJobs.Script.Tests.Integration.csproj
Owners: @azure/azure-functions-core

catching exceptions due to race with worker process exit (#8917)
  src/WebJobs.Script/Workers/ProcessManagement/WorkerProcess.cs
Owners: @azure/azure-functions-core

Using IEnvironment instead of SystemEnvironment.Instance.
  src/WebJobs.Script/ScriptHostBuilderExtensions.cs
Owners: @azure/azure-functions-core

Added comment.
  src/WebJobs.Script/ScriptHostBuilderExtensions.cs
Owners: @azure/azure-functions-core

Redesign for Functions Hosting config
  src/WebJobs.Script.Grpc/Channel/GrpcWorkerChannel.cs
  src/WebJobs.Script.Grpc/Channel/GrpcWorkerChannelFactory.cs
  src/WebJobs.Script.WebHost/WebHostServiceCollectionExtensions.cs
  src/WebJobs.Script.WebHost/WebScriptHostBuilderExtension.cs
  src/WebJobs.Script/Config/FunctionsHostingConfigOptions.cs
  src/WebJobs.Script/Config/FunctionsHostingConfigOptionsSetup.cs
  src/WebJobs.Script/Config/FunctionsHostingConfigProvider.cs
  src/WebJobs.Script/Config/FunctionsHostingConfigSource.cs
  src/WebJobs.Script/Config/FunctionsHostingConfiguration.cs
  src/WebJobs.Script/Config/IFunctionsHostingConfiguration.cs
  src/WebJobs.Script/Scale/FunctionsScaleManager.cs
  src/WebJobs.Script/Scale/FunctionsScaleMonitorService.cs
  src/WebJobs.Script/ScriptHostBuilderExtensions.cs
  src/WebJobs.Script/Workers/Rpc/RpcWorkerProcess.cs
  src/WebJobs.Script/Workers/Rpc/RpcWorkerProcessFactory.cs
  src/WebJobs.Script/Workers/WorkerConcurrencyManager.cs
  test/WebJobs.Script.Tests/Configuration/FunctionsHostingConfigOptionsSetupTest.cs
  test/WebJobs.Script.Tests/Configuration/FunctionsHostingConfigOptionsTest.cs
  test/WebJobs.Script.Tests/Configuration/FunctionsHostingConfigProviderTest.cs
  test/WebJobs.Script.Tests/Configuration/FunctionsHostingConfigurationTest.cs
  test/WebJobs.Script.Tests/Scale/FunctionsScaleManagerTests.cs
  test/WebJobs.Script.Tests/Scale/FunctionsScaleMonitorServiceTests.cs
  test/WebJobs.Script.Tests/Workers/Rpc/GrpcWorkerChannelTests.cs
  test/WebJobs.Script.Tests/Workers/Rpc/RpcWorkerProcessTests.cs
  test/WebJobs.Script.Tests/Workers/Rpc/WorkerConcurrencyManagerTest.cs
Owners: @azure/azure-functions-core

Added a null check.
  src/WebJobs.Script/ScriptHostBuilderExtensions.cs
Owners: @azure/azure-functions-core

Comment
  src/WebJobs.Script/ScriptHostBuilderExtensions.cs
Owners: @azure/azure-functions-core

Update Python Worker Version to 4.9.0
  build/python.props
  release_notes.md
  test/WebJobs.Script.Tests/WebJobs.Script.Tests.csproj
Owners: @vrdmr, @gavin-aguiar, @YunchuWang, @azure/azure-functions-core

Comment
  src/WebJobs.Script/ScriptHostBuilderExtensions.cs
Owners: @azure/azure-functions-core

Distributed Tracing for Java Azure Functions - Duplicate logs in AI issue (#8915)
  release_notes.md
  src/WebJobs.Script/ScriptHostBuilderExtensions.cs
Owners: @azure/azure-functions-core

Update Python Worker Version to 4.9.0 (#8920)
  build/python.props
  release_notes.md
  test/WebJobs.Script.Tests/WebJobs.Script.Tests.csproj
Owners: @vrdmr, @gavin-aguiar, @YunchuWang, @azure/azure-functions-core

Fix WebJobsStartupTests
  test/CSharpPrecompiledTestProjects/WebJobsStartupTests/Function1.cs
  test/WebJobs.Script.Tests/Workers/Rpc/WorkerConcurrencyManagerTest.cs
Owners: @azure/azure-functions-core

Include also null entries as empty when building InvocationRequest payload for OOP workers
  src/WebJobs.Script.Grpc/MessageExtensions/GrpcMessageConversionExtensions.cs
  test/WebJobs.Script.Tests/Workers/Rpc/GrpcMessageConversionExtensionsTests.cs
Owners: @azure/azure-functions-core

Better comment on explaining the ?? string.Empty
  src/WebJobs.Script.Grpc/MessageExtensions/GrpcMessageConversionExtensions.cs
Owners: @azure/azure-functions-core

Adding JIT Trace files for 4.15.0
  src/WebJobs.Script.WebHost/PreJIT/coldstart.jittrace
  src/WebJobs.Script.WebHost/PreJIT/linux.coldstart.jittrace
Owners: @vrdmr, @pragnagopa, @eliaslopezgt, @VpOfEngineering, @azure/azure-functions-core

Removing http_response_set_unknown_header
  src/WebJobs.Script.WebHost/PreJIT/coldstart.jittrace
Owners: @vrdmr, @pragnagopa, @eliaslopezgt, @VpOfEngineering, @azure/azure-functions-core

Updating JIT Trace Files for 3.18.0
  src/WebJobs.Script.WebHost/PreJIT/coldstart.jittrace
  src/WebJobs.Script.WebHost/PreJIT/linux.coldstart.jittrace
Owners: @vrdmr, @pragnagopa, @eliaslopezgt, @VpOfEngineering, @azure/azure-functions-core

Updating JIT Trace Files for 3.18.0 (#8932)
  src/WebJobs.Script.WebHost/PreJIT/coldstart.jittrace
  src/WebJobs.Script.WebHost/PreJIT/linux.coldstart.jittrace
Owners: @vrdmr, @pragnagopa, @eliaslopezgt, @VpOfEngineering, @azure/azure-functions-core

Updating JIT Trace Files for 3.18.0 (#8932)
  src/WebJobs.Script.WebHost/PreJIT/coldstart.jittrace
  src/WebJobs.Script.WebHost/PreJIT/linux.coldstart.jittrace
Owners: @vrdmr, @pragnagopa, @eliaslopezgt, @VpOfEngineering, @azure/azure-functions-core

4.15.0 JIT Trace (#8928)
  src/WebJobs.Script.WebHost/PreJIT/coldstart.jittrace
  src/WebJobs.Script.WebHost/PreJIT/linux.coldstart.jittrace
Owners: @vrdmr, @pragnagopa, @eliaslopezgt, @VpOfEngineering, @azure/azure-functions-core

4.15.0 JIT Trace (#8928)
  src/WebJobs.Script.WebHost/PreJIT/coldstart.jittrace
  src/WebJobs.Script.WebHost/PreJIT/linux.coldstart.jittrace
Owners: @vrdmr, @pragnagopa, @eliaslopezgt, @VpOfEngineering, @azure/azure-functions-core

Introducing a section for hositing config
  src/WebJobs.Script.WebHost/WebHostServiceCollectionExtensions.cs
  src/WebJobs.Script/Config/FunctionsHostingConfigOptionsSetup.cs
  src/WebJobs.Script/Config/FunctionsHostingConfigProvider.cs
  src/WebJobs.Script/ScriptConstants.cs
  test/WebJobs.Script.Tests/Configuration/FunctionsHostingConfigProviderTest.cs
  test/WebJobs.Script.Tests/Workers/Rpc/WorkerConcurrencyManagerTest.cs
Owners: @azure/azure-functions-core

Refactor worker indexing, enable selective loading
  src/WebJobs.Script.WebHost/WebHostServiceCollectionExtensions.cs
  src/WebJobs.Script/DependencyInjection/ScriptStartupTypeLocator.cs
  src/WebJobs.Script/Host/DefaultFunctionMetadataProvider.cs
  src/WebJobs.Script/Host/FunctionMetadataManager.cs
  src/WebJobs.Script/Host/FunctionMetadataResult.cs
  src/WebJobs.Script/Host/HostFunctionMetadataProvider.cs
  src/WebJobs.Script/Host/IFunctionMetadataManager.cs
  src/WebJobs.Script/Host/IHostFunctionMetadataProvider.cs
  src/WebJobs.Script/Host/IWorkerFunctionMetadataProvider.cs
  src/WebJobs.Script/Host/ScriptHost.cs
  src/WebJobs.Script/Host/WorkerFunctionMetadataProvider.cs
  src/WebJobs.Script/Workers/IFunctionInvocationDispatcher.cs
  src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDispatcher.cs
  test/WebJobs.Script.Tests.Integration/Management/FunctionsSyncManagerTests.cs
  test/WebJobs.Script.Tests.Integration/TestFunctionHost.cs
  test/WebJobs.Script.Tests.Integration/WebHostEndToEnd/ProxyEndToEndTests.cs
  test/WebJobs.Script.Tests.Shared/TestFunctionMetadataManager.cs
  test/WebJobs.Script.Tests.Shared/TestHostBuilderExtensions.cs
  test/WebJobs.Script.Tests/AggregateFunctionMetadataProviderTests.cs
  test/WebJobs.Script.Tests/DefaultFunctionMetadataProviderTests.cs
  test/WebJobs.Script.Tests/Description/FunctionInvokerBaseTests.cs
  test/WebJobs.Script.Tests/Managment/WebFunctionsManagerTests.cs
  test/WebJobs.Script.Tests/ScriptStartupTypeDiscovererTests.cs
  test/WebJobs.Script.Tests/WorkerFunctionMetadataProviderTests.cs
  test/WebJobs.Script.Tests/Workers/Rpc/RpcFunctionInvocationDispatcherTests.cs
Owners: @azure/azure-functions-core

Removing GetMetadata from invocation dispatcher
  src/WebJobs.Script/Workers/Http/HttpFunctionInvocationDispatcher.cs
  src/WebJobs.Script/Workers/IFunctionInvocationDispatcher.cs
  src/WebJobs.Script/Workers/Rpc/FunctionRegistration/RpcFunctionInvocationDispatcher.cs
Owners: @azure/azure-functions-core

only initialize if there are no channels available
  src/WebJobs.Script.Grpc/Channel/GrpcWorkerChannel.cs
  src/WebJobs.Script/Host/WorkerFunctionMetadataProvider.cs
Owners: @azure/azure-functions-core

PR feedback
  src/WebJobs.Script/Host/DefaultFunctionMetadataProvider.cs
  src/WebJobs.Script/Host/HostFunctionMetadataProvider.cs
  src/WebJobs.Script/Host/WorkerFunctionMetadataProvider.cs
Owners: @azure/azure-functions-core

Renaming FunctionMetadataProvider
  src/WebJobs.Script.WebHost/WebHostServiceCollectionExtensions.cs
  src/WebJobs.Script/Host/FunctionMetadataProvider.cs
  test/WebJobs.Script.Tests.Integration/Management/FunctionsSyncManagerTests.cs
  test/WebJobs.Script.Tests.Integration/TestFunctionHost.cs
  test/WebJobs.Script.Tests.Integration/WebHostEndToEnd/ProxyEndToEndTests.cs
  test/WebJobs.Script.Tests.Shared/TestHostBuilderExtensions.cs
  test/WebJobs.Script.Tests/DefaultFunctionMetadataProviderTests.cs
  test/WebJobs.Script.Tests/Managment/WebFunctionsManagerTests.cs
Owners: @azure/azure-functions-core

Test update
  src/WebJobs.Script/Host/FunctionMetadataProvider.cs
Owners: @azure/azure-functions-core

Collection support changes
  src/WebJobs.Script.Grpc/MessageExtensions/GrpcMessageConversionExtensions.cs
  src/WebJobs.Script.Grpc/azure-functions-language-worker-protobuf/src/proto/FunctionRpc.proto
  src/WebJobs.Script/Binding/ExtensionBinding.cs
  src/WebJobs.Script/Binding/FunctionBinding.cs
  src/WebJobs.Script/Binding/GeneralScriptBindingProvider.cs
Owners: @azure/azure-functions-core

Updating Generalscriptbinding
  src/WebJobs.Script/Binding/GeneralScriptBindingProvider.cs
Owners: @azure/azure-functions-core

Fixing if statement. removing unnecessary using
  src/WebJobs.Script/Host/WorkerFunctionMetadataProvider.cs
Owners: @azure/azure-functions-core

Filter the secret
  src/WebJobs.Script.WebHost/Management/LinuxSpecialization/BashCommandHandler.cs
Owners: @azure/azure-functions-core

Enable the filtering
  src/WebJobs.Script.WebHost/Management/LinuxSpecialization/BashCommandHandler.cs
Owners: @azure/azure-functions-core

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file
#
# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format
#

* @azure/azure-functions-core

# Adding codeowner for Python specific files such that GitHub automatically adds python folks as a reviewer.
build/python.props @vrdmr @gavin-aguiar @YunchuWang

# Deps.json validation file
test/WebJobs.Script.Tests/Microsoft.Azure.WebJobs.Script.WebHost.deps.json @fabiocav @brettsam @mathewc

src/WebJobs.Script.WebHost/PreJIT/* @vrdmr @pragnagopa @eliaslopezgt @VpOfEngineering @azure/azure-functions-core
